#create-campaign-form {
  display: grid;
  justify-items: center;
  align-content: baseline;
  gap: 4rem;
  color: var(--ion-color-secondary);
  font-family: var(--ion-font-family);
  padding: 4rem 2rem;
}
#create-campaign-form > * {
  width: min(100%, 40rem);
}

#create-campaign-form h1 {
  text-align: center;
}

#create-campaign-form #dates-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#create-campaign-form .chips-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
#create-campaign-form .chips-container:has(*) {
  padding: 0.5rem 0;
}
#create-campaign-form .center {
  justify-self: center;
}
#create-campaign-form #detector-import-results {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0 1rem;
  align-items: center;
}
#create-campaign-form #detector-import-results ion-label,
#create-campaign-form #detector-import-results ion-note {
  grid-column: 1 / 3;
}


#create-campaign-form ion-note {
  padding-left: 1rem;
  padding-right: 1rem;
}


#create-campaign-form #import-button {
  position: relative;
}
#create-campaign-form #import-button .hide-real-input {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}

