.header {
  cursor: pointer !important;
  display: grid;
  pointer-events: all;
  background: var(--ion-color-base);
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  width: calc(100% + 4px); /* Box border size */
  min-width: fit-content;

  &.canBeRemoved {
    .inner {
      grid-template-columns: auto 1fr auto auto;

      .delete {
        display: block;
      }
    }
  }

  .inner {
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: auto 1fr auto;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    gap: 0.5rem;
    white-space: nowrap;

    > * {
      font-size: .9rem;
    }

    .button {
      cursor: pointer;
    }

    p {
      font-size: .75rem;
    }

    .delete {
      display: none;
    }

    .outlineIcon path {
      stroke-width: 3rem;
    }
  }
}

.annotation {
 .inner {
   cursor: crosshair;
 }
}