.header {
  cursor: default !important;
  display: grid;
  pointer-events: all;
  background: var(--ion-color-base);
  color: var(--ion-color-contrast);
  position: absolute;
  left: 50%;
  width: calc(100% + 4px); /* Box border size */
  min-width: fit-content;

  &.over {
    top: 0;
    transform: translate(-50%, -100%);
  }
  &.bellow {
    bottom: 0;
    transform: translate(-50%, 100%);
  }

  &.canBeRemoved {
    .inner {
      grid-template-columns: auto auto 1fr auto auto;

      .delete {
        display: block;
      }
    }
  }

  .inner {
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: auto auto 1fr auto;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    gap: 0.5rem;
    white-space: nowrap;
    position: relative;
    cursor: default !important;

    > * {
      font-size: .9rem;
    }

    .button {
      cursor: pointer;
    }

    p {
      font-size: .75rem;
    }

    .delete {
      display: none;
    }

    .outlineIcon path {
      stroke-width: 3rem;
    }
  }
}

.annotation {
  border-width: 3px;

  .inner {
   cursor: crosshair;
 }

  &.disabled {
    opacity: 0.75;
  }
}

.labelsButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}