$box-width: 3px;

.header {
  cursor: default !important;
  display: grid;
  pointer-events: all;
  background: var(--ion-color-base);
  color: var(--ion-color-contrast);
  position: absolute;
  left: 50%;
  width: calc(100% + 2 * $box-width); /* Box border size */
  min-width: fit-content;

  &.over {
    top: 0;
    transform: translate(-50%, -100%);

    &.stickLeft, &.stickRight {
      transform: translate(0%, -100%);
    }
  }

  &.bellow {
    bottom: 0;
    transform: translate(-50%, 100%);

    &.stickLeft, &.stickRight {
      transform: translate(0%, 100%);
    }
  }

  .inner {
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: auto auto 1fr auto auto;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    gap: 0.5rem;
    white-space: nowrap;
    position: relative;
    cursor: default !important;

    > * {
      font-size: .9rem;
    }

    .button {
      cursor: pointer;
    }

    p {
      font-size: .75rem;
    }

    .outlineIcon path {
      stroke-width: 3rem;
    }
  }

  &.stickLeft {
    left: calc(-1 * $box-width);
  }

  &.stickRight {
    left: unset;
    right: calc(-1 * $box-width);
  }
}

.annotation {
  border-width: $box-width;

  .inner {
    cursor: crosshair;
  }

  &.disabled {
    opacity: 0.75;
  }

  &.editDisabled {
    pointer-events: none !important;
    * {
      pointer-events: none !important;
    }
  }
}

.labelsButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}