/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap'); */

body {
  font-family: 'Exo 2', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  letter-spacing: 3px;
  text-transform: uppercase;
  /* color: #003c80 !important; */
  color: #1a60af !important;
  font-weight: 400;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

h3{
  letter-spacing: 2px;
  font-weight: 400;
  /* color: #2e3141; */
  margin: 0.5rem 0;
  /* padding: 0.5rem 0; */
}

a{
  text-decoration: none;
}
a:link{
  color: #00b6d9;
}
a:visited{
  color: #42bed6;
}
a:hover{
  color: #00d5ff;
  text-decoration: underline solid;
}
a:active{
  color: orangered;
  text-decoration: underline solid;
}

.card{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}