

#aplose-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}

#aplose-page .banner {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aplose-page .section-content {
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
}

#aplose-page .section-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0074B7;
    font-family: 'Exo 2', sans-serif;
}

#aplose-page .section-content p, #aplose-page.section-content ul {
    color: #333;
    font-family: 'Exo 2', sans-serif;
    line-height: 1.6;
}

#aplose-page.section-content ul {
    padding-left: 20px;
}

#aplose-page .section-content ul li {
    margin-bottom: 10px;
    list-style-type: "-";
}

#aplose-page .carousel-container {
    width: 100%;
    max-width: 750px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

#aplose-page .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

#aplose-page .carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

#aplose-page .carousel-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#aplose-page .zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#aplose-page .zoomed-image {
    max-width: 90%;
    max-height: 90%;
    transform: scale(1.0);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

#aplose-page .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 50%;
    opacity: 0.5;
}

#aplose-page .carousel-control:hover {
    background-color: #0056b3;
    opacity: 1;
}

#aplose-page .carousel-control.left {
    left: 10px;
}

#aplose-page .carousel-control.right {
    right: 10px;
}

#aplose-page .video-section {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#aplose-page .video-section video.video-full-width {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#aplose-page .full-width-margin-top {
    width: 100%;
    margin-top: 20px;
}

#aplose-page .presentation_page, #aplose-page .collaborators-banner-component {
    margin: var(--content-margin);
}

#aplose-page .carousel-container, #aplose-page .video-section, #aplose-page .presentation_page, #aplose-page .collaborators-banner-component {
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    #aplose-page .carousel-container,#aplose-page.video-section,#aplose-page .section-content {
        max-width: 100%;
        padding: 0 10px;
    }
}

@media screen and (max-width: 800px) {
    #aplose-page.carousel-container,#aplose-page.video-section, #aplose-page.section-content {
        width: 100%;
        padding: 0 10px;
    }
}
