li.treelistitem{
    position: relative;
    top: 0.8rem;
    padding-left: 20px;
    list-style-type: none;
    line-height: 2.2rem;
    font-size: larger;
}

li.treelistitem::after{
    content: '';
    width: 40px;
    height: 0;
    position: absolute;
    left: -38px;
    top: 1.2rem;
    border-top: solid 3px #002d80;
}

li.treelistitem > a{
    color: black;
}