header#main-header nav {
  font-size: larger;
  /* position: fixed;
  width: 100%;
  z-index: 1030; */
}

  header#main-header nav a.navigation-link {
    /* border-bottom: 2px solid transparent; */
    transition: color 0.4s ease, border-bottom 0.4s ease;
  }
  header#main-header nav a.navigation-link:hover,
  header#main-header nav a.navigation-link:active,
  header#main-header nav a.navigation-link:focus {
    text-decoration: none;
    color: #001531 !important;
    /* border-bottom: 2px solid #001531 !important; */
    transition: color 0.4s ease, border-bottom 0.4s ease;
  }

  header#main-header nav a.logo img{
    width: 50px;
    height: 50px;
  }
  header#main-header nav a.logo span{
    /* margin-left: 120px; */
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  @media screen and (min-width: 768px){
    header#main-header nav li.pipe{
      display: inline-block !important;
    }
  }

  header#main-header .dropdown-menu{
    background-color: #f8f9fa !important;
    padding: 0.5rem 4.5em !important;
    margin-left: -4em;
  }
