.footer {
  background-color: var(--ion-color-step-100);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 1rem;
  padding: var(--content-margin);
  align-items: center;

  p {
    font-size: 1rem;
    color: var(--ion-text-color);
    margin: 0;
  }

  a {
    color: var(--ion-color-primary) !important;
  }

  .icon {
    color: var(--ion-text-color);
  }

  .linksGroup {
    display: grid;
    justify-content: start;
    justify-items: start;
    gap: 0.25rem;

    .link {
      display: grid;
      grid-auto-flow: column;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .license {
    display: grid;
    justify-items: end;
    gap: 0.25rem;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    .linksGroup {
      justify-content: center;
      justify-items: center;
    }
  }
}
