footer#main-footer {
  background-color: rgb(224, 237, 241);
  min-height: 25vh;
  font-size: smaller;
  /* position: relative;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0; */
}

  footer#main-footer > p{
    height: max-content !important;
  }

  footer#main-footer img {
    max-width: 150px;
    max-height: 120px;
  }
