#detail-campaign {
  display: grid;
  gap: 4rem;
  justify-content: center;
  justify-items: stretch;
  font-family: var(--ion-font-family);
}


#detail-campaign > #head {
  display: grid;
  justify-items: center;
}

#detail-campaign > #head h2 {
  margin: 0;
}

#detail-campaign > #head .archive-description {
  color: var(--ion-color-medium);
}

#detail-campaign > #head ion-button {
  margin-top: 1rem;
}


#detail-campaign > .bloc {
  display: grid;
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.5);
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
}

#detail-campaign > .bloc .head-bloc {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#detail-campaign > .bloc .table-bloc {
  text-align: center;
  display: grid;
  /*noinspection CssUnresolvedCustomProperty*/
  grid-template-columns: 1fr repeat(var(--content-columns, 1), auto);
  gap: 0.5rem 0;
  overflow-x: auto;
}
#detail-campaign > .bloc .table-bloc .table-bloc-head {
  font-weight: 300;
}
#detail-campaign > .bloc .table-bloc .table-bloc-head,
#detail-campaign > .bloc .table-bloc .table-bloc-content {
  padding: 0.25rem 1rem;
  display: grid;
  align-content: center;
}
#detail-campaign > .bloc .table-bloc .table-bloc-head,
#detail-campaign > .bloc .table-bloc .table-bloc-content {
  border-left: 1px solid rgba(var(--ion-color-medium-rgb), 0.5);
}
#detail-campaign > .bloc .table-bloc .first {
  border: none;
}
#detail-campaign > .bloc .table-bloc .divider {
  height: 1px;
  background: rgba(var(--ion-color-medium-rgb), 0.5);
  /*noinspection CssUnresolvedCustomProperty*/
  grid-column: 1 / calc(var(--content-columns, 1) + 2);
}

#detail-campaign h5 {
  margin: 0;
}

#detail-campaign .buttons {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
