.page {
  font-family: var(--ion-font-family), sans-serif;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  height: 100%;
  position: relative;

  h2 {
    word-break: break-word;
    text-align: center;
  }

  .main {
    display: grid;
    gap: 2rem;
    align-content: start;

    .header {
      display: grid;
      align-items: center;
      justify-items: center;
    }
  }

  .side {
    display: grid;
    gap: 2rem;
    align-content: start;
    grid-template-rows: repeat(5, auto) 1fr;

    .bloc {
      display: grid;
      gap: 0.5rem;
    }

    p {
      line-height: 0.95rem;
    }
  }


  .filesTable {
    row-gap: 0.25rem;

    .statusIcon {
      justify-self: center;
    }

    .fillContent {
      grid-column: 1 / -1;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}
