.cardArticle h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.cardArticle p {
  text-align: justify;
}

.cardArticle blockquote p {
  text-align: center;
  font-size: 15px;
}

.cardArticle blockquote p:not(:last-child) {
  margin: 0;
}

.cardArticle img {
  width: 100%;
  object-fit: contain;
  max-height: 20vh;
  margin: 1rem 0;
}

@media screen and (min-width: 992px) {
  .cardArticle blockquote p {
    padding: 0 5rem;
  }

  .cardArticle > img {
    height: 20vh;
  }
}
