.footer {
  background-color: #e9e9ea;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 1rem;
  padding: 4rem 8rem;
  align-items: center;

  p, ion-icon {
    font-size: 1rem;
    color: #212529;
    margin: 0;
  }

  .linksGroup {
    display: grid;
    justify-content: start;
    justify-items: start;
    gap: 0.25rem;

    .link {
      display: grid;
      grid-auto-flow: column;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .license {
    display: grid;
    justify-items: end;
    gap: 0.25rem;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    .linksGroup {
      justify-content: center;
      justify-items: center;
    }
  }


  @media screen and (max-width: 1200px) {
    padding: 2rem;
  }

  @media screen and (max-width: 800px) {
    padding: 1rem;
  }
}
