footer {
  background-color: var(--ion-color-step-100);
  display: grid;
  grid-template-areas: "ifremer links license";
  gap: 1rem;
  padding: var(--content-margin);
  align-items: center;
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-areas: "links links" "ifremer license";
  }
}

footer p {
  font-size: 1rem;
  color: var(--ion-text-color);
  margin: 0;
}

footer img {
  max-width: 8rem;
}

footer a {
  color: var(--ion-color-primary) !important;
}

footer ion-icon {
  color: var(--ion-text-color);
}

footer .ifremer {
  grid-area: ifremer;
}

footer .links {
  grid-area: links;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 0.25rem;
}

footer .license {
  grid-area: license;
  display: grid;
  justify-items: end;
  gap: 0.25rem;
}

footer .links .link {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: center;
}
