div.pagetitle {
    height: 30vh;
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* img of 1920x446 px 4:30 */
div.pagetitle img, 
div.pagetitle picture {
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    /* margin: 1rem 0; */
    /* padding: -3rem 0; */
    /* viewport-fit: cover; */
    min-height: 100%;
    /* max-width: 100%; */
    width: 100%;
    /* margin: calc(-2rem) 0; */
}

div.pagetitle div.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* vertical-align: middle; */
}

div.pagetitle div.overlay h1 {
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: white;
    -ms-flex-item-align: center;
    align-self: center;
    /* max-height: fit-content; */
}
