#form-bloc {
  display: grid;
  gap: 1rem;
}

#form-bloc #separator {
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  padding: 0 2rem;
  align-items: center;
}
#form-bloc #separator > div {
  height: 1px;
  border-bottom: 1px solid var(--ion-color-medium);
}
