body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
}

/* Main style for the APLOSE page */
#aplose-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}

/* Style for banners */
#aplose-page .banner {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for section content */
#aplose-page .section-content {
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
}

/* Style for section titles */
#aplose-page .section-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0074B7;
    font-family: 'Exo 2', sans-serif;
}

/* Style for paragraphs and lists */
.section-content p, .section-content ul {
    color: #333;
    font-family: 'Exo 2', sans-serif;
    line-height: 1.6;
}

/* Style for lists */
.section-content ul {
    padding-left: 20px;
}

.section-content ul li {
    margin-bottom: 10px;
    list-style-type: "-";
}

/* Style for the carousel container */
.carousel-container {
    width: 100%;
    max-width: 750px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

/* Style for the carousel wrapper */
.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

/* Style for the carousel slides */
.carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

/* Style for carousel images */
.carousel-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

/* Style for the zoom overlay */
.zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Style for the zoomed image */
.zoomed-image {
    max-width: 90%;
    max-height: 90%;
    transform: scale(1.0);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

/* Style for the carousel control buttons */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 50%;
    opacity: 0.5;
}

.carousel-control:hover {
    background-color: #0056b3;
    opacity: 1;
}

.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

/* Style for the video section */
.video-section {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.video-section video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Style for presentation pages and collaborators banners */
.presentation_page, .collaborators-banner-component {
    margin: var(--content-margin);
}

/* Common style for carousel containers, video sections, presentation pages, and collaborators banners */
.carousel-container, .video-section, .presentation_page, .collaborators-banner-component {
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Media queries for medium-sized screens */
@media screen and (max-width: 1200px) {
    .carousel-container, .video-section, .section-content {
        max-width: 100%;
        padding: 0 10px;
    }
}

/* Media queries for small screens */
@media screen and (max-width: 800px) {
    .carousel-container, .video-section, .section-content {
        width: 100%;
        padding: 0 10px;
    }
}
