html {
    scrollbar-gutter: stable;
}


.gap-1 {
    gap: 1rem;
}


.main {
    margin-top: 40px;
    min-height: 800px;
}

.error-message {
    color: red;
    font-weight: bold;
    white-space: pre-line;
}

.undisplayed {
    visibility: hidden;
}

.loader {
    font-size: 16em;
    position: absolute;
    top: 100px;
    left: 200px;
}

.form-checkbox {
    display: flex;
    justify-content: space-around;
}

[data-tooltip].button-disabled {
    pointer-events: initial;
}

[data-tooltip].button-disabled:active {
    pointer-events: none;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: attr(data-tooltip);
    border: 1px solid var(--ion-color-dark);
    background: #eee;
    color: var(--ion-color-dark);
    padding: .25rem 0.5rem;
    z-index: 99;
    border-radius: 0.5rem;
    pointer-events: none;
}

[data-tooltip].tooltip-right:hover::after {
    left: unset;
    right: 0;
    transform: none;
}