
// TODO: following

.results {
  border-radius: 0.5rem;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(5, auto);

  &.check {
    grid-template-columns: repeat(7, auto);
  }

  .header {
    font-weight: 700;
  }

  .header, ion-note {
    padding: 0.5rem;
    grid-column: 1 / -1;
    text-align: center;
    justify-content: center;
  }

  > div {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 0.4rem 0.5rem;
    justify-content: start;

    &.label {
      font-weight: 600;

      &.presence {
        grid-column: 1 / 4;
      }
    }

    &.confidence svg {
      font-size: 1.2rem;
    }

    &.validation {
      gap: 0.4rem;
    }
  }
}

.features {
  position: absolute !important;
  overflow: hidden;
  user-select: none;
  z-index: 99;

  h6 {
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .body {
    overflow: auto;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;

    .table {
      overflow: visible;
    }
  }

  .line {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
  }

  .switch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
    background: var(--ion-color-light-shade);
    border-radius: 0.5rem;
    overflow: hidden;

    > * {
      padding: 0.25rem 0.5rem;
      text-align: center;
    }

    .active {
      background: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }
  }

}