.page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  padding: 2rem 2rem 0;
  gap: 1rem 2rem;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    padding: 1rem 1rem 0.5rem;
    gap: 1rem;
  }
}