.page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  padding: 2rem 2rem 1rem;
  gap: 1rem 2rem;

  .nav {
    display: grid;
    gap: 2rem;
    align-content: start;
    padding-right: 2rem;
    border-right: solid 1px rgba(var(--ion-color-medium-rgb), 0.25);

    .title {
      display: grid;
      grid-auto-flow: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;

      img {
        width: 4rem;
        height: 4rem;
      }

      h1 {
        font-size: 2rem;
        font-family: var(--ion-font-family), sans-serif;
        letter-spacing: 0.25rem;
      }
    }

    .links {
      display: grid;
      gap: 0.25rem;
    }
  }
}
