div.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 2.5rem 0;
    padding: 0.5rem 1rem;
}

div.banner > *{
    margin: 2rem 1.5rem;
    text-align: center;
    /* -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important; */
}

div.banner img, 
div.banner picture {
    max-height: 100px;
    max-width: 150px;
}
