#campaign-detail-global-info {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}

#campaign-detail-global-info h5 {
    justify-self: center;
    grid-column: 1 / 3;
}

#campaign-detail-global-info .item {
    display: grid;
    gap: 0 0.5rem;
    grid-auto-flow: column;
    align-items: center;
    font-weight: 500;
}

#campaign-detail-global-info .item.double-line {
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon label" "empty value";
}

#campaign-detail-global-info .item.double-line .icon {
    grid-area: icon;
}

#campaign-detail-global-info .item.double-line .label {
    grid-area: label;
}

#campaign-detail-global-info .item.double-line p:not(.label) {
    grid-area: value;
}

#campaign-detail-global-info .item .icon {
    opacity: 0.5;
}

#campaign-detail-global-info .item .label,
#campaign-detail-global-info .faded .label {
    font-weight: 300;
}

#campaign-detail-global-info .faded {
    grid-column: 1 / 3;
}

#campaign-detail-global-info .buttons {
    grid-column: 1 / 3;
}


#campaign-detail-status .table-aplose {
    grid-template-columns: 1fr minmax(auto, 192px);
}

#campaign-detail-status .table-aplose .table-head {
    cursor: pointer;
    transition: 300ms;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
  "title caret-up"
  "title caret-down";
    column-gap: 0.5rem;
    align-items: center;
    align-content: center;
}

#campaign-detail-status .table-aplose .table-head p {
    grid-area: title;
}

#campaign-detail-status .table-aplose .table-head .up {
    grid-area: caret-up;
}

#campaign-detail-status .table-aplose .table-head .down {
    grid-area: caret-down;
}

#campaign-detail-status .table-aplose .table-head ion-icon {
    color: rgba(var(--ion-color-medium-rgb), 0.5);
}

#campaign-detail-status .table-aplose .table-head ion-icon.active {
    color: var(--ion-color-medium);
}

#campaign-detail-status .table-aplose .table-head:hover p {
    font-weight: 500;
}

#campaign-detail-status .table-aplose .table-content {
    justify-items: start;
}

#campaign-detail-status .table-aplose .table-content.first {
    justify-items: center;
}
