nav {
  font-size: larger;
}

nav a.navigation-link {
  /* border-bottom: 2px solid transparent; */
  transition: color 0.4s ease, border-bottom 0.4s ease;
}

nav a.navigation-link:hover,
nav a.navigation-link:active,
nav a.navigation-link:focus {
  text-decoration: none;
  color: #001531 !important;
  /* border-bottom: 2px solid #001531 !important; */
  transition: color 0.4s ease, border-bottom 0.4s ease;
}

nav a.logo img{
  width: 60px;
  height: 60px;
}

nav a.logo span{
/* margin-left: 120px; */
margin-top: 0;
margin-bottom: 0;
text-align: center;
}

@media screen and (min-width: 768px){
  nav li.pipe{
    display: inline-block !important;
  }
}