#member-page {
    margin: 4rem 8rem;
    position: relative;
    display: grid;
    gap: 3rem;
    justify-items: center;
}

#member-page > * {
    max-width: 32rem;
}

#member-page .title {
    text-align: center;
}

#member-page .title * {
    margin: 0;
    text-transform: none;
}

#member-page .title h2 {
    color: var(--ion-text-color);
}

#member-page img {
    width: 16rem;
    height: 16rem;
    border-radius: 8rem;
}

#member-page blockquote {
    text-align: justify;
}

#member-page .links,
#member-page .links .socials {
    display: grid;
    gap: 1rem 2rem;
    justify-items: center;
}

#member-page .links .socials {
    grid-auto-flow: column;
}

#member-page .links .socials > * {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.25rem;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #member-page {
        margin: 2rem 1rem;
        position: relative;
        display: grid;
        gap: 1rem;
        justify-items: center;
    }

    #member-page img {
        width: 12rem;
        height: 12rem;
        border-radius: 6rem;
    }

    #member-page .links,
    #member-page .links .socials {
        display: grid;
        gap: 0.5rem 1rem;
        justify-items: center;
    }
}
