#campaign-task-list {
  display: grid;
  gap: 1rem;
  font-family: var(--ion-font-family);
  justify-items: center;
}

#campaign-task-list > .head {
  display: grid;
  justify-items: center;
  gap: 0;
}

#campaign-task-list > .head .subtitle {
  color: var(--ion-color-medium);
}

#campaign-task-list tr.empty {
  height: 2rem;
}