.page {
  display: grid;
  grid-template-columns: 0 3fr 6fr 2fr 0;
  gap: 0 4rem;
  grid-template-areas: "title title title title title"
                       "0 nav content 1 2";

  .title {
    grid-area: title;
  }

  .nav {
    grid-area: nav;
    display: grid;
    gap: 2rem;
    align-content: start;

    .filter {
      display: grid;
      gap: 0.5rem;
    }
  }

  .content {
    grid-area: content;
    display: grid;
    gap: 2rem;

    section {
      display: grid;
      gap: 0.5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: 0 1fr 2fr 0;
    gap: 0 2rem;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "nav" "content";
    gap: 1rem;

    .nav, .content {
      padding: 0 0.5rem;
    }
  }
}


.low {
  font-size: 0.9rem;
  opacity: 0.5;
}
