#people-page section {
    margin: var(--content-margin);
    display: grid;
    justify-items: center;
}

#people-page section h2 {
    margin-top: 5rem;
}

#people-page section .members-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;
}