#detail-page-component {
  margin: var(--content-margin);
  position: relative;
  display: grid;
  gap: 3rem;
  justify-items: center;
}

#detail-page-component > * {
  max-width: min(var(--max-width, 58rem), 100%);
  min-width: 0; /* CSS fix to get max-width: 100% to be respected */
}

#detail-page-component > #back-component {
  max-width: 100%;
}

#detail-page-component .head {
  display: grid;
  justify-items: center;
  text-align: center;
}

#detail-page-component p,
#detail-page-component blockquote {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  #detail-page-component {
    gap: 1rem;
  }
}


@media screen and (max-width: 800px) {
  #detail-page-component #article .article-head {
    justify-items: start;
    text-align: justify;
  }
}
