.annotator {
  margin: 0 auto;
  width: 90%;
}

.canvas {
  cursor: text;
  display: block;
}

.controls {
  clear: both;
}
.controls .btn-play {
  float: left;
}
.controls .timestamps {
  float: right;
}

.btn-play, .btn-play:enabled {
  background-color: transparent;
  border: 0;
  color: #000080;
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.btn-play:hover {
  color: #006079;
}
