.main {
  margin-top: 40px;
  min-height: 800px;
}

.error-message {
  color: red;
  font-weight: bold;
  white-space: pre-line;
}

.undisplayed {
  visibility: hidden;
}

.loader {
  font-size: 16em;
  position: absolute;
  top: 100px;
  left: 200px;
}
