
.fadedText {
  color: rgba(var(--ion-color-medium-rgb), 0.5);
  font-size: 0.9rem;
  font-weight: 400;
}

.warningText {
  justify-self: center;
  align-self: center;

  display: grid;
  justify-items: center;
  color: var(--ion-color-danger);
  border: 2px solid var(--ion-color-danger);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  gap: 0.5rem;
  text-align: center;

  .icon {
    font-size: 2rem;
  }
}

.modalBackdrop {
  font-family: var(--ion-font-family), sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(var(--ion-color-dark-rgb), 0.15);
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  @media (max-width: 800px) {
    padding: 1rem;
    justify-items: stretch;
  }

  .modal {
    background: var(--ion-color-light);
    border-radius: 2rem;
    box-shadow: var(--aplose-box-shadow);
    padding: 2rem;
    display: grid;
    gap: 1rem;
    min-width: 42rem;
    max-height: 80%;
    max-width: 80%;
    overflow: hidden;

    > * {
      max-width: 100%;
      overflow: hidden;
    }

    .header {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;

      .icon {
        font-size: 2rem;
        color: var(--ion-color-medium);
        cursor: pointer;
      }
    }

    .footer {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
    }

    @media (max-width: 800px) {
      padding: 1rem;
      min-width: unset;
      max-width: unset;
      gap: 1rem;

      .header, .footer {
        padding: 1rem;
      }
      .header {
        padding-bottom: 0;
      }
    }
  }
}

.progress {
  display: grid;
  gap: 0.25rem;

  span[class^=ion-color-] {
    color: var(--ion-color-base);
  }
}

.kbd {
  background: var(--ion-color-light-shade);
  color: var(--ion-color-light-contrast);
  padding: 0.25rem  0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--ion-color-medium-tint);
  box-shadow: var(--box-shadow);

  > kbd {
    background: var(--ion-color-light-shade);
    color: var(--ion-color-light-contrast);
  }
}