
.fadedText {
  color: rgba(var(--ion-color-medium-rgb), 0.5);
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.warningText {
  justify-self: center;
  align-self: center;

  display: grid;
  justify-items: center;
  color: var(--ion-color-danger);
  border: 2px solid var(--ion-color-danger);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  gap: 0.5rem;
  text-align: center;

  .icon {
    font-size: 2rem;
  }
}

.modalBackdrop {
  font-family: var(--ion-font-family), sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(var(--ion-color-dark-rgb), 0.15);
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  z-index: 5;

  @media (max-width: 800px) {
    padding: 1rem;
    justify-items: stretch;
  }

  .modal {
    background: var(--ion-color-light);
    border-radius: 2rem;
    box-shadow: var(--aplose-box-shadow);
    padding: 2rem;
    display: grid;
    gap: 1rem;
    min-width: 42rem;
    max-height: 80%;
    max-width: 80%;
    overflow: hidden;

    > * {
      max-width: 100%;
      overflow: hidden;
    }

    .header {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;

      .icon {
        font-size: 2rem;
        color: var(--ion-color-medium);
        cursor: pointer;
      }
    }

    .footer {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
    }

    @media (max-width: 800px) {
      padding: 1rem;
      min-width: unset;
      max-width: unset;
      gap: 1rem;

      .header, .footer {
        padding: 1rem;
      }
      .header {
        padding-bottom: 0;
      }
    }
  }
}

.progress {
  display: grid;
  gap: 0.25rem;

  span[class^=ion-color-] {
    color: var(--ion-color-base);
  }
}

.kbd {
  background: var(--ion-color-light-shade);
  color: var(--ion-color-light-contrast);
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--ion-color-medium-tint);
  box-shadow: var(--box-shadow);

  > kbd {
    background: transparent;
    color: var(--ion-color-light-contrast);
  }
}

.tooltip {
  background: white;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: var(--aplose-box-shadow);
  padding: 0.5rem;
  gap: 0.5rem;
  display: grid;
  z-index: 5;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 0.25rem
}

.table {
  text-align: center;
  display: grid;
  //noinspection CssInvalidFunction
  grid-template-columns: 1fr repeat(calc(var(--content-columns, 1) - 1), auto);
  gap: 0.25rem 0;
  overflow-x: auto;

  &.uniqueColumn {
    grid-template-columns: 1fr;
  }

  &.firstColumnSticky > .first {
    border: none;
    border-right: 1px solid rgba(var(--ion-color-medium-rgb), 0.5);
    position: sticky;
    left: 0;
    background: white;
  }

  &.small {
    gap: 0.25rem 0;

    > .head,
    > .content {
      padding: 0.1rem 0.5rem;
    }
  }

  > .head {
    font-weight: 300;
    z-index: 1;
  }

  > .head,
  > .content {
    padding: 0.25rem 1rem;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-content: center;
    align-items: center;
    border-left: 1px solid rgba(var(--ion-color-medium-rgb), 0.5);

    &.first {
      border: none
    }
  }

  > .divider {
    height: 1px;
    background: rgba(var(--ion-color-medium-rgb), 0.5);
    grid-column: 1 / -1;
  }
}

.deactivatable {
  position: relative;
  height: 100%;
  overflow: hidden;

  > div {
    height: 100%;
    overflow: hidden;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}