@use "@/css/base";
@use 'sass:map';

.Note {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;

  @each $color, $map in base.$colors {
    &.#{$color} {
      color: map.get($map, 'text');
    }
  }

  &.flex {
    display: flex;
    align-items: center;
  }

  &.data {
    font-family: map.get(base.$fonts, 'data');
  }
}