#trap-page .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: var(--content-margin);
    gap: 4rem;
}
#trap-page.card-name {
    font-size: 1.25rem;
    text-align: center;
    margin: 0.5rem 0;
}

#trap-page.social-links {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: #007bff;
}

#trap-page.social-links a {
    color: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#trap-page.social-links a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1200px) {
    #trap-page .content {
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 800px) {
    #trap-page .content {
        grid-template-columns: none;
        margin: 1rem;
        gap: 1rem;
    }
}
