.campaignCardsGrid {
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 2rem;
  justify-content: center;
  overflow: auto;
  max-height: 100%;
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;

  ion-button {
    --padding-top: 0.25rem !important;
    --padding-bottom: 0.25rem !important;
  }
}

.tabs {
  border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.25);
  display: flex;
  gap: 1rem;
  padding-bottom: 0.5rem;

  ion-button {
    --padding-bottom: 0.25rem;
    --padding-top: 0.5rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --border-radius: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    border: 1px solid rgba(var(--ion-color-medium-rgb), 0);
    border-bottom: none;

    &.active {
      border-color: rgba(var(--ion-color-medium-rgb), 0.5);
    }
  }
}
