footer.footer {
  background-color: rgb(224, 237, 241);
  margin: 3rem 0 0 0;
  min-height: 25vh;
  /* font-weight: 400; */
  font-size: smaller;
  position: relative;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

footer.footer > p{
  height: max-content !important;
}

footer.footer img {
  max-width: 150px;
  max-height: 120px;
}
