.page {
  display: grid;
  height: 100%;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
}

.node {
  padding: 0.25rem 0.75rem;
  border: 2px solid var(--ion-color-primary);
  border-radius: 0.5rem;
  transition: background-color 300ms ease;

  p {
    font-family: "Exo 2", Roboto, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 16ch;
  }

  &.selected {
    background: var(--aplose-backdrop-color);
  }
}