/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap'); */

/* html{

} */

body {
  /* font-family: 'Exo 2', sans-serif; */
  font-family: 'Exo 2', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #2e3141; */
  /* background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url('./images/maxresdefault.jpg'); */
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
  margin: 0;
  /* min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  letter-spacing: 3px;
  text-transform: uppercase;
  /* color: #003c80 !important; */
  color: #1a60af !important;
  font-weight: 400;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

h3{
  letter-spacing: 2px;
  font-weight: 400;
  /* color: #2e3141; */
  margin: 1rem 0;
  padding: 0.5rem 0;
}

a{
  text-decoration: none;
}
a:link{
  /* color: rgb(255, 118, 27); */
  color: #00b6d9;
}
a:visited{
  /* color: rgb(255, 139, 61); */
  color: #42bed6;
}
a:hover{
  /* color: rgb(255, 108, 10); */
  color: #00d5ff;
  text-decoration: underline solid;
}
a:active{
  /* color: rgb(255, 102, 0); */
  color: orangered;
  text-decoration: underline solid;
}

.card{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}