#campaign-list {
  display: grid;
  gap: 2rem;
}


#campaign-list > h2 {
  justify-self: center;
}


#campaign-list > #head {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  #campaign-list > #head {
    grid-auto-flow: row;
    justify-content: stretch;
  }

  #campaign-list > #head > #actions {
    justify-content: start;
  }

  #campaign-list > #head > #search-zone {
    grid-template-columns: 1fr auto;
  }
}

#campaign-list > #head > #search-zone,
#campaign-list > #head > #actions {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  align-items: center;
}

#campaign-list > #content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 2rem;
  justify-content: center;
}
