
.boxTitle {
  display: grid;
  pointer-events: all;
  background: var(--ion-color-base);
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  width: calc(100% + 4px); /* Box border size */
  min-width: fit-content;

  &.canBeRemoved {
    .inner {
      grid-template-columns: auto 1fr auto auto;

      .delete {
        display: block;
      }
    }
  }

  .inner {
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: auto 1fr auto;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    gap: 0.5rem;
    white-space: nowrap;

    > * {
      font-size: .9rem;
    }

    .button {
      cursor: pointer;
    }

    p {
      font-size: .75rem;
    }

    .delete {
      display: none;
    }

    .outlineIcon path {
      stroke-width: 3rem;
    }
  }
}

.spectrogramRender {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "y spectrogram" "empty x";
  overflow-x: scroll;
  padding-bottom: 1rem;

  .yAxis {
    grid-area: y;
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 1;
  }

  .spectrogram {
    grid-area: spectrogram;
    user-select: none;
    touch-action: none;
    position: relative;

    canvas {
      display: block;

      &.drawable {
        cursor: crosshair;
      }
    }

    .timeBar {
      background: black;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      transform: translateX(-50%);
    }
  }

  .xAxis {
    grid-area: x;
  }
}

.zoom {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.navigation {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.point {
  height: 2rem;
  width: 2rem;
  transform: translate(-50%, -50%);
  border: none;

  .vertical, .horizontal {
    background: var(--ion-color-base);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }

  .vertical {
    height: 2rem;
    width: 2px;
  }

  .horizontal {
    width: 2rem;
    height: 2px;
  }
}